<div class="card">
  <div class="card-body">
    <h5>
      Company
    </h5>
    <div class="row bottom-padding">
      <div class="col-md-3">
      Name:
      </div>
      <div class="col-md-9">
        <input type="text" placeholder="Company name...">
      </div>
    </div>
    <div class="row bottom-padding">
      <div class="col-md-3">
        Contact:
      </div>
      <div class="col-md-9">
        <input type="text" placeholder="Name of contact...">
      </div>
    </div>
    <div class="row bottom-padding">
      <div class="col-md-3">
        Email:
      </div>
      <div class="col-md-9">
        <input type="text" placeholder="YourEmail@test.com">
      </div>
    </div>
    <div class="row bottom-padding">
      <div class="col-md-3">
        Phone:
      </div>
      <div class="col-md-9">
        <input type="text" placeholder="Phone number...">
      </div>
    </div>
  </div>
</div>
