<div class="card">
  <div class="card-body">
    <h5>
      Company
    </h5>
    <div *ngIf="isEditable">
    <div class="row bottom-padding">
      <div class="col-md-3">
      Name:
      </div>
      <div class="col-md-9">
        <input type="text" placeholder="Company name..." [(ngModel)]="company.name">
      </div>
    </div>
    <div class="row bottom-padding">
      <div class="col-md-3">
        Contact:
      </div>
      <div class="col-md-9">
        <input type="text" placeholder="Name of contact..." [(ngModel)]="company.contactName">
      </div>
    </div>
    <div class="row bottom-padding">
      <div class="col-md-3">
        Email:
      </div>
      <div class="col-md-9">
        <input type="text" placeholder="YourEmail@test.com" [(ngModel)]="company.contactEmail">
      </div>
    </div>
    <div class="row bottom-padding">
      <div class="col-md-3">
        Phone:
      </div>
      <div class="col-md-9">
        <input type="text" placeholder="Phone number..." [(ngModel)]="company.contactPhone">
      </div>
    </div>
  </div>
    <div *ngIf="!isEditable">
      <div class="row bottom-padding">
        <div class="col-md-3">
          Name:
        </div>
        <div class="col-md-9">
          {{company.name}}
        </div>
      </div>
      <div class="row bottom-padding">
        <div class="col-md-3">
          Contact:
        </div>
        <div class="col-md-9">
          {{company.contactName}}
        </div>
      </div>
      <div class="row bottom-padding">
        <div class="col-md-3">
          Email:
        </div>
        <div class="col-md-9">
          {{company.contactEmail}}
        </div>
      </div>
      <div class="row bottom-padding">
        <div class="col-md-3">
          Phone:
        </div>
        <div class="col-md-9">
          {{company.contactPhone}}
        </div>
      </div>
    </div>
    <button class="btn btn-outline-dark" (click)="open(content)">Select Company</button>
</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    Select a Company
  </div>
  <div class="modal-body">
    <ul class="list-group" *ngFor="let company of companies">
      <li class="list-group-item list-group-item-action" (click)="selectCompany(company); c('Close click')">
        {{company.name}}
      </li>
    </ul>
  </div>
</ng-template>
