<div class="card">
  <div class="card-body">
    <h5>
      Company
    </h5>
      <div class="row bottom-padding">
        <div class="col-md-3">
          Name:
        </div>
        <div class="col-md-9">
          {{company.name}}
        </div>
      </div>
      <div class="row bottom-padding">
        <div class="col-md-3">
          Contact:
        </div>
        <div class="col-md-9">
          {{company.contactName}}
        </div>
      </div>
      <div class="row bottom-padding">
        <div class="col-md-3">
          Email:
        </div>
        <div class="col-md-9">
          {{company.contactEmail}}
        </div>
      </div>
      <div class="row bottom-padding">
        <div class="col-md-3">
          Phone:
        </div>
        <div class="col-md-9">
          {{company.contactPhone}}
        </div>
      </div>
    <button class="btn btn-outline-primary pull-left" (click)="open(content)">
      Select Company</button>
    <button class="btn btn-outline-primary pull-right" (click)="open(newCompany)">
      Create</button>
</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select a Company</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group" *ngFor="let company of companies">
      <li class="list-group-item list-group-item-action" (click)="selectCompany(company); c('Close click')">
        {{company.name}}
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #newCompany let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Company</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="col-md-12">
  <div class="row bottom-padding">
    <div class="col-md-3">
      Name:
    </div>
    <div class="col-md-9">
      <input type="text" formGroup="" placeholder="Company name...">
    </div>
  </div>
  <div class="row bottom-padding">
    <div class="col-md-3">
      Contact:
    </div>
    <div class="col-md-9">
      <input type="text" placeholder="Name of contact...">
    </div>
  </div>
  <div class="row bottom-padding">
    <div class="col-md-3">
      Email:
    </div>
    <div class="col-md-9">
      <input type="text" placeholder="YourEmail@test.com">
    </div>
  </div>
  <div class="row bottom-padding">
    <div class="col-md-3">
      Phone:
    </div>
    <div class="col-md-9">
      <input type="text" placeholder="Phone number...">
    </div>
  </div>
    <div class="row pull-right">
    <button class="btn btn-outline-success pull-right">
      Save
    </button>
      <button class="btn btn-outline-warning pull-right" (click)="c('Close click')">
        Cancel
      </button>
  </div>
  </div>
</ng-template>
