<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
          Contracts
        </button>
        <button *ngFor="let contract of contracts"
                (click)="selectContract(contract)"
                type="button" class="list-group-item list-group-item-action">
          {{contract.title}}
        </button>
      </div>
      <div>
        <button type="button" class="btn btn-success" routerLink="/contracts/newContract">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          New contract
        </button>
      </div>
    </div>
  </div>
</div>
