<div class="text-center col-md-4 center-div" style="padding:100px 0">
  <div class="logo">Register group</div>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="login-form-1">

      <!--Email Address-->
      <div class="form-group">
        <input type="text" class="form-control" id="emailaddress" placeholder="Email Address"
               required
               [(ngModel)]="user.username" name="email"
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
               #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-warning">
          <div [hidden]="!email.hasError('required')">Email is required</div>
          <div [hidden]="!email.hasError('pattern')">Require:  <small><b>@example.com</b></small></div>
        </div>
      </div>

      <!--Password-->
      <div class="form-group">
        <input type="password" class="form-control"
               id="password" placeholder="Password"
               required
               minlength="4"
               [(ngModel)]="user.password" name="password"
               #password="ngModel">
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          At least 4 characters
        </div>
      </div>

      <!--Comfirm Password-->
      <div class="form-group">
        <input type="password" class="form-control"
               id="confirmPassword" placeholder="Confirm Password"
               validateEqual="password"
               [(ngModel)]="user.confirmPassword" name="confirmPassword"
               #confirmPassword="ngModel">
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
             class="alert alert-danger">
          Passwords did not match
        </div>

        <div class="top-border"></div>

        <!--Create button-->
        <button type="submit" class="login-button" (click)="create()"
                [disabled]="!loginForm.form.valid">OK</button>
      </div>
    </div>

    <!--Already got a login-->
    <div class="etc-login-form form-group">
      <p>Already have a group? <a href="#" routerLink="/login">Login here</a></p>
    </div>
  </form>
</div>

<!--Shows the username and password-->
<!--Shall be DELETED!-->

<!--<div class="col-md-6">-->
<!--<table class="table" [hidden]="!submitted">-->
<!--<tr>-->
<!--<td><label>Email</label></td>-->
<!--<td>{{user.username}}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><label>Password</label></td>-->
<!--<td>{{user.password}}</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
