<!--<div class="page">-->
  <!--<div layout-padding>-->

    <!--<div layout-gt-sm="row" class="">-->

      <!--&lt;!&ndash;<input type="text"&ndash;&gt;-->
             <!--&lt;!&ndash;placeholder="Filter by ID"&ndash;&gt;-->
             <!--&lt;!&ndash;class="col-md-2 text-center pull-right"&ndash;&gt;-->
             <!--&lt;!&ndash;[column]="'index'"&ndash;&gt;-->
             <!--&lt;!&ndash;ng2TableViewFilter="tableBuilder.filtering"&ndash;&gt;-->
             <!--&lt;!&ndash;(tableChanged)="onChangeTable($event)"/>&ndash;&gt;-->

      <!--<input placeholder="Search by Name"-->
             <!--class="col-md-2 text-center"-->
             <!--style="margin-left: 5em"-->
             <!--[column]="'Name'"-->
             <!--ng2TableViewFilter="tableBuilder.filtering"-->
             <!--(tableChanged)="onChangeTable($event)"/>-->

    <!--</div>-->


    <!--<ng2TableView [config]="tableBuilder"-->
                  <!--(tableChanged)="onChangeTable($event)"-->
                  <!--[rows]="tableBuilder.rows"-->
                  <!--[columns]="tableBuilder.columns">-->
    <!--</ng2TableView>-->

    <!--<div class="text-center">-->
      <!--<ngTableViewPaging [config]="tableBuilder"-->
                         <!--[dataLength]="tableBuilder.length"-->
                         <!--(pageChanged)="onChangeTable($event)">-->
      <!--</ngTableViewPaging>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
