<div class="card">
  <div class="card-body" *ngIf="isEditable">
    <h5>
      Start date:
    </h5>
    <div>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="startDP"
                   [(ngModel)]="startModel"
                   (ngModelChange)="onStartSelected()"
                   ngbDatepicker #start="ngbDatepicker">
            <button class="input-group-addon" (click)="start.toggle()"type="button">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
      <h5>
        End date:
      </h5>
      <div>
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control"
                     placeholder="yyyy-mm-dd"
                     name="endDP"
                     [(ngModel)]="endModel"
                     (ngModelChange)="onEndSelected()"
                     ngbDatepicker #end="ngbDatepicker">
              <button class="input-group-addon" (click)="end.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="!isEditable">
    <h5>
      Start date:
    </h5>
    <div>
      {{project.start}}
    </div>
    <h5>
      End date:
    </h5>
    <div>
      {{project.end}}
    </div>
  </div>
</div>

