<div class="container">
  <div class="row">
    <i class="fa fa-arrow-circle-left" style="font-size: 50px" aria-hidden="true" routerLink="/contracts"></i>
    <h1>Headline goes here</h1>
  </div>
  <div class="row">
    <div class="col-md-7">
      To be implemented
    </div>
    <div class="col-md-5">
      <app-group-contact [isEditable]="true"></app-group-contact>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
    </div>
    <div class="col-md-5">
      <app-students-list [students]="students"></app-students-list>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-outline-success" routerLink="/contracts" (click)="createContract()">
      Create
    </button>
  </div>
</div>
