<div class="container">
  <div class="row">
    <i class="fa fa-arrow-circle-left" style="font-size: 50px" aria-hidden="true" routerLink="/contracts"></i>
    <h1>Headline goes here</h1>
  </div>
  <div class="row">
    <div class="col-md-7">
      <app-project-name (projectTitleChange)="onProjectTitleChange($event)"></app-project-name>
      {{project.title}}
    </div>
    <div class="col-md-5">
      <app-group-contact [isEditable]="true" (notify)="onNotify($event)"></app-group-contact>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <app-project-period></app-project-period>
    </div>
    <div class="col-md-5">
      <app-students-list [email]="contactEmail" [groupId]="groupId" [students]="students"
                         (notify)="updateGroupId($event)"></app-students-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <app-project-description></app-project-description>
      <app-project-suporvisor></app-project-suporvisor>
    </div>
    <div class="col-md-5">
      <app-company [isEditable]="true" [company]="company" (notify)="updateCompanyId($event)"></app-company>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-outline-success" (click)="createContract()">
      Create
    </button>
  </div>
</div>
