<div class="card">
  <div class="card-body">
    <h5>
      Suporvisor
    </h5>
    <div>
      Wanted Suporvisor: <button class="btn btn-outline-dark" (click)="open(content)">Select Suporvisor</button>
    </div>
    <div>
      Assigned Suporvisor: <button class="btn btn-outline-dark" (click)="open(content)">Select Suporvisor</button>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select a Suporvisor</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group" *ngFor="let suporvisor of suporvisors">
      <!--<li class="list-group-item list-group-item-action" (click)="selectCompany(company); c('Close click')">-->
        <!--{{company.name}}-->
    <!--</li>-->
      {{suporvisor.firstName}} {{suporvisor.lastName}}
    </ul>
  </div>
</ng-template>
