<div class="card">
  <div class="card-body">
    <h5>
      Supervisor
    </h5>
    <div *ngIf="isEditable">
      <div class="row bottom-margin">
        <div class="col-md-8">
          <h6>Wanted Supervisor:</h6> {{wantedSuporvisor.firstName}} {{wantedSuporvisor.lastName}}
        </div>
        <div class="col-md-4">
          <button class="btn btn-outline-primary" (click)="open(wantedSuporvisorContent)">
            <i class="fa fa-user" aria-hidden="true"></i> Supervisor</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h6>Assigned Supervisor:</h6>
          {{assignedSuporvisor.firstName}} {{assignedSuporvisor.lastName}}
        </div>
        <div class="col-md-4">
          <button class="btn btn-outline-primary" (click)="open(assignedSuporvisorContent)">
            <i class="fa fa-user" aria-hidden="true"></i> Supervisor</button>
        </div>
      </div>
    </div>
    <div *ngIf="!isEditable">
      <div>
        <p><strong>Wanted Supervisor:</strong> {{wantedSuporvisor.firstName}} {{wantedSuporvisor.lastName}}</p>
      </div>
      <div>
        <p><strong>Assigned Supervisor:</strong> {{assignedSuporvisor.firstName}} {{assignedSuporvisor.lastName}}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #wantedSuporvisorContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select a Supervisor</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group" *ngFor="let suporvisor of suporvisors">
      <li class="list-group-item list-group-item-action" (click)="selectWantedSuporvisor(suporvisor); c('Close click')">
        {{suporvisor.firstName}} {{suporvisor.lastName}}
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #assignedSuporvisorContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select a Suporvisor</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group" *ngFor="let suporvisor of suporvisors">
      <li class="list-group-item list-group-item-action" (click)="selectAssignedSuporvisor(suporvisor); c('Close click')">
        {{suporvisor.firstName}} {{suporvisor.lastName}}
      </li>
    </ul>
  </div>
</ng-template>
