<div class="card">
  <div class="card-body">
    <h5>
      Supervisor
    </h5>
    <div>
      <div *ngIf="isGroup && isEditable">
        <div class="row bottom-margin">
          <div class="col-md-8">
            <h6>Wanted Supervisor:</h6> {{wantedSupervisor.firstName}} {{wantedSupervisor.lastName}}
          </div>
          <div class="col-md-4">
            <button class="btn btn-outline-primary" (click)="open(wantedSupervisorContent)">
              <i class="fa fa-user" aria-hidden="true"></i> Supervisor</button>
          </div>
        </div>
      </div>
      <div *ngIf="isAdmin">
        <div class="row">
          <div class="col-md-8">
            <div *ngIf="assignedSupervisor.firstName != ''">
              <p><strong>Assigned Supervisor:</strong> {{assignedSupervisor.firstName}} {{assignedSupervisor.lastName}}</p>
            </div>
            <div *ngIf="assignedSupervisor.firstName == ''">
              <p><strong>Assigned Supervisor:</strong> No supervisor assigned yet.</p>
            </div>
          </div>
          <div class="col-md-4">
            <button class="btn btn-outline-primary" (click)="open(assignedSuporvisorContent)">
              <i class="fa fa-user" aria-hidden="true"></i> Supervisor</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isEditable">
      <p><strong>Wanted Supervisor:</strong> {{wantedSupervisor.firstName}} {{wantedSupervisor.lastName}}</p>
    </div>
    <div *ngIf="!isEditable && !isAdmin">
      <div *ngIf="assignedSupervisor.firstName != ''">
        <p><strong>Assigned Supervisor:</strong> {{assignedSupervisor.firstName}} {{assignedSupervisor.lastName}}</p>
      </div>
      <div *ngIf="assignedSupervisor.firstName == ''">
        <p><strong>Assigned Supervisor:</strong> No supervisor assigned yet.</p>
      </div>
    </div>

  </div>
</div>

<ng-template #wantedSupervisorContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select a Supervisor</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-size" [perfect-scrollbar]>
    <ul class="list-group" *ngFor="let supervisor of supervisors">
      <li class="list-group-item list-group-item-action" (click)="selectWantedSupervisor(supervisor); c('Close click')">
        <perfect-scrollbar>
          {{supervisor.firstName}} {{supervisor.lastName}}
        </perfect-scrollbar>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #assignedSuporvisorContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select a Supervisor</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-size" [perfect-scrollbar]>
    <ul class="list-group" *ngFor="let supervisor of supervisors">
      <li class="list-group-item list-group-item-action" (click)="selectAssignedSupervisor(supervisor); c('Close click')">
        <perfect-scrollbar>
          {{supervisor.firstName}} {{supervisor.lastName}}
        </perfect-scrollbar>
      </li>
    </ul>
  </div>
</ng-template>
