<div class="card" style="height: 200px">
  <div class="card-body">
    <h4 class="card-title">Students</h4>
    <ul class="list-group" style="padding-left: 20px" *ngFor="let student of students">
      <li class="list-group-flush">{{student.firstName}} {{student.lastName}}</li>
    </ul>

  </div>
  <button class="btn btn-outline-primary" [disabled]="!ableToAddStudent()" style="margin-left: 10px; width: 100px; margin-bottom: 10px" (click)="open(content)">
    <i class="fa fa-plus" aria-hidden="true"></i> Student
  </button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New student</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group" *ngFor="let student of studentsToSelectFrom">
      <li class="list-group-item list-group-item-action" (click)="handleUpdateStudentButton(student); c()">
        {{student.firstName}} {{student.lastName}}
      </li>
    </ul>
  </div>
</ng-template>


