<div class="container">
  <div class="row">
    <i class="fa fa-arrow-circle-left" style="font-size: 50px" aria-hidden="true" routerLink="/contracts"></i>
    <h1>Edit contract</h1>
  </div>
  <div class="row">
    <div class="col-md-7">
      <app-project-name [isEditable]="isEditable" [projectTitle]="project.title"></app-project-name>
    </div>
    <div class="col-md-5">
      <app-group-contact [email]="group.contactEmail" [isEditable]="isEditable"></app-group-contact>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <app-project-period [isEditable]="isEditable"></app-project-period>
    </div>
    <div class="col-md-5">
      <app-students-list [email]="groupContactEmail" [students]="students"></app-students-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <app-project-description [isEditable]="isEditable" (onDescriptionChanged)="onProjectDescriptionChange($event)"></app-project-description>
    </div>
    <div class="col-md-5">
      <app-company [isEditable]="false" [company]="company"></app-company>
      <app-project-suporvisor [isEditable]="isEditable"></app-project-suporvisor>
    </div>
  </div>
</div>
