<div class="container">
  <hr>
  <div class="row top-margin">
    <div class="col-md-4" *ngIf="isGroupLoggedIn()"></div>
    <div class="col-md-4" *ngIf="!isGroupLoggedIn()">
      <i class="fa fa-arrow-circle-left" style="font-size: 50px" aria-hidden="true" routerLink="/contracts"></i>
    </div>
    <div class="col-md-4">
      <h1 class="text-center">Contract</h1>
  </div>
  </div>
  <hr>
  <div class="row bottom-margin">
    <div class="col-md-7">
      <app-project-name [isEditable]="isEditable" [projectTitle]="project.title"
                        (projectTitleChange)="onEditProjectTitleChange($event)"></app-project-name>
    </div>
    <div class="col-md-5">
      <app-group-contact [email]="group.contactEmail"></app-group-contact>
    </div>
  </div>
  <div class="row bottom-margin">
    <div class="col-md-7">
      <app-project-period [isEditable]="isEditable" [project]="project" (startChange)="onEditProjectStartChange($event)"
                          (endChange)="onEditProjectEndChange($event)"
      ></app-project-period>
    </div>
    <div class="col-md-5">
      <app-students-list [isEditable]="isEditable" [email]="groupContactEmail" [students]="group.students"></app-students-list>
    </div>
  </div>
  <div class="row bottom-margin">
    <div class="col-md-7">
      <app-project-description [isEditable]="isEditable" [description]="project.description"
                               (onDescriptionChanged)="onEditProjectDescriptionChange($event)"></app-project-description>
    </div>
    <div class="col-md-5">
      <div class="bottom-margin">
        <app-company [isEditable]="false" [company]="company"></app-company>
      </div>
    </div>
  </div>
  <div class="row bottom-margin">
    <div class="col-md-7">
      <div *ngIf="executiveUser; else GroupEditing">
        <div *ngIf="ExecutiveApproved(); else unapprove">
          <button (click)="UpdateApproveStatus()" type="button" class="ApproveButton btn btn-danger btn-lg btn-block">Unapprove</button>
        </div>
        <ng-template #unapprove>
          <button (click)="UpdateApproveStatus()" type="button" class="ApproveButton btn btn-success btn-lg btn-block">Approve</button>
        </ng-template>
      </div>
      <ng-template #GroupEditing>
        <div *ngIf="isEditable; else goToEdit">
          <button class="btn btn-outline-danger groupEditButton" (click)="setIsEditable()">Cancel</button>
          <button class="btn btn-outline-warning groupEditButton" (click)="saveChangesFromEdit(); setIsEditable()">Save</button>
        </div>
        <ng-template #goToEdit>
          <button class="btn btn-outline-primary groupEditButton" (click)="setEditVariables(); setIsEditable()">Edit</button>
        </ng-template>
      </ng-template>
    </div>
    <div class="col-md-5">
      <app-project-suporvisor [isEditable]="isEditable" [isGroup]="isGroup" [isAdmin]="isAdmin"
                              [wantedSupervisor]="wantedSupervisor" [assignedSupervisor]="assignedSupervisor"
                              (onAssignedSupervisorChange)="updateAssignedSupervisorOnProject($event)"
                              (onWantedSupervisorChange)="onEditProjectWantedSupervisor($event)">
      </app-project-suporvisor>
    </div>
  </div>
  <hr>
  <hr>
</div>
